<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2022-2026 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.AnnoMapper">
    <resultMap id="methodMap" type="me.n1ar4.jar.analyzer.entity.MethodResult">
        <result column="method_name" property="methodName"/>
        <result column="class_name" property="className"/>
        <result column="method_desc" property="methodDesc"/>
        <result column="line_number" property="lineNumber"/>
        <result column="jar_name" property="jarName"/>
        <result column="jar_id" property="jarId"/>
    </resultMap>
    <resultMap id="annoMethodMap" type="me.n1ar4.jar.analyzer.entity.AnnoMethodResult">
        <result column="method_name" property="methodName"/>
        <result column="class_name" property="className"/>
        <result column="method_desc" property="methodDesc"/>
        <result column="line_number" property="lineNumber"/>
        <result column="jar_name" property="jarName"/>
        <result column="jar_id" property="jarId"/>
        <result column="anno_name" property="annoName"/>
        <result column="anno_scope" property="annoScope"/>
    </resultMap>
    <insert id="insertAnno" parameterType="AnnoEntity">
        INSERT INTO anno_table
        (anno_name, method_name, class_name, visible, jar_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.annoName}, #{item.methodName}, #{item.className}, #{item.visible}, #{item.jarId})
        </foreach>
    </insert>
    <select id="selectAnnoByClassName">
        SELECT DISTINCT anno_name
        FROM anno_table
        WHERE class_name = #{className}
        ORDER BY anno_name COLLATE NOCASE ASC
    </select>
    <select id="selectAnnoByClassAndMethod">
        SELECT DISTINCT anno_name
        FROM anno_table
        WHERE class_name = #{className} AND method_name = #{methodName}
        ORDER BY anno_name COLLATE NOCASE ASC
    </select>
    <select id="selectMethodsByAnnoNames" resultMap="methodMap">
        SELECT DISTINCT
        m.method_name AS method_name,
        m.class_name AS class_name,
        m.method_desc AS method_desc,
        m.line_number AS line_number,
        jt.jar_name AS jar_name,
        jt.jid AS jar_id
        FROM anno_table a
        JOIN method_table m ON a.class_name = m.class_name
        AND a.jar_id = m.jar_id
        AND (a.method_name = m.method_name OR a.method_name IS NULL OR a.method_name = '')
        LEFT JOIN jar_table jt ON m.jar_id = jt.jid
        <where>
            <if test="annoNames != null and annoNames.size() > 0">
                a.anno_name IN
                <foreach collection="annoNames" item="name" open="(" separator="," close=")">
                    #{name}
                </foreach>
            </if>
        </where>
        ORDER BY jt.jid ASC, m.class_name ASC, m.method_name ASC, m.method_desc ASC
    </select>
    <select id="selectMethodsByAnno" resultMap="annoMethodMap">
        SELECT DISTINCT
        m.method_name AS method_name,
        m.class_name AS class_name,
        m.method_desc AS method_desc,
        m.line_number AS line_number,
        jt.jar_name AS jar_name,
        jt.jid AS jar_id,
        a.anno_name AS anno_name,
        CASE
        WHEN a.method_name IS NULL OR a.method_name = '' THEN 'class'
        ELSE 'method'
        END AS anno_scope
        FROM anno_table a
        JOIN method_table m ON a.class_name = m.class_name
        AND a.jar_id = m.jar_id
        <choose>
            <when test="scope == 'method'">
                AND a.method_name = m.method_name
            </when>
            <when test="scope == 'class'">
                AND (a.method_name IS NULL OR a.method_name = '')
            </when>
            <otherwise>
                AND (a.method_name = m.method_name OR a.method_name IS NULL OR a.method_name = '')
            </otherwise>
        </choose>
        LEFT JOIN jar_table jt ON m.jar_id = jt.jid
        <where>
            <if test="annoNames != null and annoNames.size() > 0">
                <choose>
                    <when test="match != null and match == 'equal'">
                        a.anno_name IN
                        <foreach collection="annoNames" item="name" open="(" separator="," close=")">
                            #{name}
                        </foreach>
                    </when>
                    <otherwise>
                        <trim prefix="(" suffix=")" suffixOverrides="OR">
                            <foreach collection="annoNames" item="name">
                                a.anno_name LIKE CONCAT('%', #{name}, '%') OR
                            </foreach>
                        </trim>
                    </otherwise>
                </choose>
            </if>
            <if test="jarId != null">
                AND m.jar_id = #{jarId}
            </if>
        </where>
        ORDER BY jt.jid ASC, m.class_name ASC, m.method_name ASC, m.method_desc ASC, a.anno_name ASC
        <if test="limit != null and limit > 0">
            LIMIT #{limit}
            <if test="offset != null and offset &gt;= 0">
                OFFSET #{offset}
            </if>
        </if>
    </select>
</mapper>
