<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2022-2026 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.CallSiteMapper">
    <insert id="insertCallSites" parameterType="CallSiteEntity">
        INSERT INTO bytecode_call_site_table
        (
            caller_class_name, caller_method_name, caller_method_desc,
            callee_owner, callee_method_name, callee_method_desc,
            op_code, line_number, call_index, receiver_type, jar_id
        )
        VALUES
        <foreach collection="list" separator="," item="item">
            (
                #{item.callerClassName}, #{item.callerMethodName}, #{item.callerMethodDesc},
                #{item.calleeOwner}, #{item.calleeMethodName}, #{item.calleeMethodDesc},
                #{item.opCode}, #{item.lineNumber}, #{item.callIndex}, #{item.receiverType}, #{item.jarId}
            )
        </foreach>
    </insert>

    <select id="selectByCaller" resultType="me.n1ar4.jar.analyzer.entity.CallSiteEntity">
        SELECT
            caller_class_name AS callerClassName,
            caller_method_name AS callerMethodName,
            caller_method_desc AS callerMethodDesc,
            callee_owner AS calleeOwner,
            callee_method_name AS calleeMethodName,
            callee_method_desc AS calleeMethodDesc,
            op_code AS opCode,
            line_number AS lineNumber,
            call_index AS callIndex,
            receiver_type AS receiverType,
            jar_id AS jarId
        FROM bytecode_call_site_table
        <where>
            <if test="className != null and className != ''">
                AND caller_class_name = #{className}
            </if>
            <if test="methodName != null and methodName != ''">
                AND caller_method_name = #{methodName}
            </if>
            <if test="methodDesc != null and methodDesc != ''">
                AND caller_method_desc = #{methodDesc}
            </if>
        </where>
        ORDER BY jar_id ASC, caller_class_name ASC, caller_method_name ASC, caller_method_desc ASC,
                 line_number ASC, call_index ASC
    </select>
</mapper>
