<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2022-2026 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.ClassFileMapper">
    <insert id="insertClassFile" parameterType="ClassFileEntity">
        INSERT OR IGNORE INTO class_file_table
        (class_name, class_path, jar_name, jar_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.className}, #{item.pathStr}, #{item.jarName}, #{item.jarId})
        </foreach>
    </insert>
    <select id="selectClassFile" resultType="ClassFileEntity">
        SELECT class_name AS className,
               class_path AS pathStr,
               jar_name AS jarName,
               jar_id AS jarId
        FROM class_file_table
        WHERE class_name = #{className}
        <if test="jarId != null and jarId &gt;= 0">
            AND jar_id = #{jarId}
        </if>
        ORDER BY jar_id ASC
        LIMIT 1
    </select>
    <select id="selectAllClassPaths" resultType="ClassFileEntity">
        SELECT class_name AS className,
               class_path AS pathStr,
               jar_name AS jarName,
               jar_id AS jarId
        FROM class_file_table
    </select>
</mapper>
