<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2022-2026 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.StringMapper">
    <resultMap id="methodMap" type="me.n1ar4.jar.analyzer.entity.MethodResult">
        <result column="method_id" property="methodId"/>
        <result column="jar_name" property="jarName"/>
        <result column="method_name" property="methodName"/>
        <result column="class_name" property="className"/>
        <result column="method_desc" property="methodDesc"/>
        <result column="is_static" property="isStaticInt"/>
        <result column="access" property="accessInt"/>
        <result column="str_value" property="strValue"/>
        <result column="jar_id" property="jarId"/>
    </resultMap>
    <insert id="insertString" parameterType="StringEntity">
        INSERT INTO string_table
        (method_name, method_desc, access, class_name, value, jar_name, jar_id)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.methodName}, #{item.methodDesc}, #{item.access}, #{item.className}, #{item.value}, #{item.jarName}, #{item.jarId})
        </foreach>
    </insert>
    <select id="selectMethodByStringPattern" resultMap="methodMap">
        SELECT DISTINCT m.method_id, jt.jar_name, m.method_name, m.class_name, m.method_desc,
                        m.is_static, m.access, m.jar_id
        FROM method_table m
                 INNER JOIN method_string_table ms ON ms.mid = m.method_id
                 INNER JOIN string_value_table sv ON sv.sid = ms.sid
                 LEFT JOIN jar_table jt ON m.jar_id = jt.jid
        <where>
            sv.value LIKE #{pattern}
            <if test="jarId != null">
                AND m.jar_id = #{jarId}
            </if>
            <if test="classLike != null and classLike != ''">
                AND m.class_name LIKE CONCAT(#{classLike}, '%')
            </if>
        </where>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
    <select id="selectMethodByStringEqual" resultMap="methodMap">
        SELECT DISTINCT m.method_id, jt.jar_name, m.method_name, m.class_name, m.method_desc,
                        m.is_static, m.access, m.jar_id
        FROM method_table m
                 INNER JOIN method_string_table ms ON ms.mid = m.method_id
                 INNER JOIN string_value_table sv ON sv.sid = ms.sid
                 LEFT JOIN jar_table jt ON m.jar_id = jt.jid
        WHERE sv.value = #{value}
    </select>
    <select id="selectMethodByStringEqualFiltered" resultMap="methodMap">
        SELECT DISTINCT m.method_id, jt.jar_name, m.method_name, m.class_name, m.method_desc,
                        m.is_static, m.access, m.jar_id
        FROM method_table m
                 INNER JOIN method_string_table ms ON ms.mid = m.method_id
                 INNER JOIN string_value_table sv ON sv.sid = ms.sid
                 LEFT JOIN jar_table jt ON m.jar_id = jt.jid
        <where>
            sv.value = #{value}
            <if test="jarId != null">
                AND m.jar_id = #{jarId}
            </if>
            <if test="classLike != null and classLike != ''">
                AND m.class_name LIKE CONCAT(#{classLike}, '%')
            </if>
        </where>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
    <select id="selectMethodByStringFts" resultMap="methodMap">
        SELECT DISTINCT m.method_id, jt.jar_name, m.method_name, m.class_name, m.method_desc,
                        m.is_static, m.access, m.jar_id
        FROM string_fts f
                 INNER JOIN string_value_table sv ON sv.sid = f.rowid
                 INNER JOIN method_string_table ms ON ms.sid = sv.sid
                 INNER JOIN method_table m ON ms.mid = m.method_id
                 LEFT JOIN jar_table jt ON m.jar_id = jt.jid
        <where>
            f MATCH #{value}
            <if test="jarId != null">
                AND m.jar_id = #{jarId}
            </if>
            <if test="classLike != null and classLike != ''">
                AND m.class_name LIKE CONCAT(#{classLike}, '%')
            </if>
        </where>
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>
    <update id="rebuildStringFts">
        INSERT INTO string_fts(string_fts) VALUES('rebuild');
    </update>
    <select id="selectStrings">
        SELECT value
        FROM string_value_table
        ORDER BY value COLLATE NOCASE LIMIT 100
        OFFSET #{offset}
    </select>
    <select id="selectStringInfos" resultMap="methodMap">
        SELECT m.method_id,
               m.method_name,
               m.method_desc,
               m.access,
               m.class_name,
               sv.value AS str_value,
               jt.jar_name,
               m.jar_id
        FROM method_table m
                 INNER JOIN method_string_table ms ON ms.mid = m.method_id
                 INNER JOIN string_value_table sv ON sv.sid = ms.sid
                 LEFT JOIN jar_table jt ON m.jar_id = jt.jid
    </select>
    <select id="selectCount">
        SELECT COUNT(*)
        FROM string_value_table;
    </select>
</mapper>
